/* FONT */
.shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CSS */
body{
    background:rgb(83, 66, 54);
    margin:1%;
    padding:0;
    opacity: .85;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: end;
    margin: 10px;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(37, 37, 37);
}

p{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    
    text-transform: inherit;
    font-size: 20px;
    color: rgb(37, 37, 37);
    text-wrap: wrap;
    padding: 10px;
}

/* ID ELEMENTS */
#parent{
    background:rgb(216, 207, 195);
    margin: auto;
    height: 800px;
    width: 600px;
}


/* CLASS ELEMENTS */
.nextBtn{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: bold;
    font-size: 18px;

    position: relative;
    border: 1.5px solid rgb(37, 37, 37);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    background: none;
}

.nextPage{
    position: absolute;
    background:rgb(216, 207, 195);
    margin: auto;
    height: 800px;
    width: 600px;
    top: center;
    left: center;
}
  