/* FONT */
.shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CSS */
body{
    background:rgb(83, 66, 54);
    margin:1%;
    padding:0;
    opacity: .85;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: end;
    margin: 10px;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(37, 37, 37);
}

p{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    
    text-transform: inherit;
    font-size: 20px;
    color: rgb(37, 37, 37);
    text-wrap: wrap;
    padding: 10px;
}

/* ID ELEMENTS */
#parent{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background:rgb(216, 207, 195);
    margin: auto;
    height: 700px;
    width: 600px;
    word-wrap:wrap;
}
 #entry{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}


/* CLASS ELEMENTS */
/* .nextBtn{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: bold;
    font-size: 18px;

    position: relative;
    border: 1.5px solid rgb(37, 37, 37);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    background: none;
} */

/* .nextPage{
    position: absolute;
    background:rgb(216, 207, 195);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    box-sizing: border-box;
} */

.saveBtn{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: bold;
    font-size: 18px;

    position: relative;
    border: 1.5px solid rgb(37, 37, 37);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    background: none;
}
  