/* FONT */
.shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CSS */
body{
    background:rgb(37, 37, 37);
    margin:1%;
    padding:0;
    opacity: .85;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: end;
    margin: 10px;
    text-transform: capitalize;
    font-size: 20px;
    color: blanchedalmond;
}

p{
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    
    text-transform: capitalize;
    font-size: 20px;
    color: blanchedalmond;
    text-wrap: wrap;
    padding: 10px;
}

/* ID ELEMENTS */
#parent{
    background:rgba(0, 0, 0, 0.5);
    margin: auto;
    height: 800px;
    width: 600px;
}


/* CLASS ELEMENTS */

  